
* {
  font-family: Verdana;
}

body{
  background-color: #ccd2dd;
  margin: 0;
}
.container {
  align-items: center;
  min-height: 100vh;
  
  &--page {
    min-width: 300px;
    max-width: 800px;
    width: 100%;
    
    justify-content: start;
    margin: 0px auto ;
  }
  &--flex {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  &__box {
    padding: 20px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 8px #c0c0c0;
    margin: 10px;
    &--flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &--dialog {
      min-width: 350px;
    }
    &__action-buttons {
      float: right;
      align-self: center;
    }
    &__title {
      font-size: 24px;
    }
    &__description {
      color: grey;
      font-size: 16px;
    }
    &__timestamp {
      color: grey;
      font-size: 14px;
    }
    h1 {
      padding-bottom: 10px;
    }
  }
}

.buttons-group {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.form-entry-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  @media (max-width: 500px) {
    flex-direction: column;
  }
}
.form-entry-share {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  label{
    margin-right: 10px;
  }

}
.copy-text {
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    border-radius: 0px 5px 5px 0px;
  }
}

.success-message {
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  &--error {
    background-color: #be20206b;
  }
  &--info {
    background-color: #205cbe6b;
  }
  &--success {
    background-color: #20be916b;
  }
}

input.error {
  border-color: red;
}

input {
  height: 40px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin: 5px 0px;
  padding: 0px 10px;
  display: block;
  box-sizing: border-box;
}

.u-full-width {
  width: 100%;
}

h1 {
  a {
    text-decoration: none;
  }
}

.inline-error-message {
  color: red;
  margin-bottom: 10px;
  text-align: right;
  font-size: 12px;
}

.button {
  padding: 10px 30px;
  background-color: #3c64b1;
  border: none;
  border-radius: 20px;
  color: white;
  margin-top: 10px;
  cursor: pointer;
  &:hover {
    background-color: #2b477c;
  }
  &__with-icon {
    font-size: 25px;
    display: inline-flex;
    line-height: 25px;
    margin-bottom: 20px;
    padding: 15px 40px;
    border-radius: 30px;
    svg{
      margin-right: 5px;
    }
  }
  &--icon {
    background-color: transparent;
    padding: 0;
  }
  &--inline {
    background-color: transparent;
    color: black;
    &:hover {
      background-color: #d1d1d1;
    }
  }
  &--link {
    display: inline-block;
    background-color: transparent;
    color: black;
    padding: 0;
    margin-bottom: 20px;
    font-size: 20px;
    &:hover{
      text-decoration: underline;
      background-color: transparent;
    }
    svg {
      padding-top: 5px;
      margin-right: 5px;
    }

  }
  &--delete {
    color: red;
  }
  &--new-field {
    line-height: 20px;
    padding: 15px;
    border-radius: 40px;
  }
  &--copy {
    border-radius: 5px 0px 0px 5px;
    padding: 10px;
    margin: 0;
  }

}

.new-field-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: -60px;
  @media (max-width: 500px) {
    margin-top: -30px;
  }
}
.answers-header {
  color: white;
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  background-color: #9daece;
  padding: 5px;
  border-radius: 5px;
  @media (max-width: 500px) {
    flex-direction: column;
  }
}
.answers-container {
  margin-bottom: 40px;
}

header {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  background-color: #9daece;
  h1 {
    display: inline-block;
    color: white;
    margin: 10px;
    font-weight: 300;
  }
  .auth-button {
    float: right;
    font-size: 14px;
    margin: 10px;
    padding: 15px 40px;
    border-radius: 30px;
  }
}

.editable-title {
  h2 {
    display: inline-block;
    margin-right: 10px;
  }
}
.field-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  select {
    height: 40px;
  }
}

.field-options {
  display: flex;
  input {
    width: auto;
  }
  svg{
    margin-right: 10px;
    margin-top: 18px;
  }

}
.float-right {
  float: right;
}

.field-corner {
  display: flex;
  justify-content: flex-end;
  button {
    background-color: transparent;
    padding: 0;
    padding-right: 10px;
    color: black;
    margin-right: 10px;
    border-right: 1px solid grey;
    border-radius: 0;
  }
}

.text-field{
  label{
    font-size: 24px;
    margin-bottom: 10px;
    display: inline-block;
  }
}

.radio {
  label {
    display: flex;
    margin-bottom: 10px;
  }
  .radio-options {
    label {
      font-size: inherit;
      margin: 10px 0px;
    }
    input {
      margin: 0px 10px;
      width: 20px;
      height: 20px;
  
    }
  }
}
form {
  width: 100%;
}

.guest-answers-container{
  margin-top: 20px;
}